.navbar {
  overflow: hidden;
  background-color: #B8B4B4;
}
.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 14px;
  text decoration: none;
  font-size: 20 px;
}
    .jumbotron {
      margin-top: 20px;
      background-size: cover;
      color: red;
      background-image: url("https://github.com/tubale/Tanayportfolio/blob/master/forest.jpeg?raw=true"
    
    }
